.add-todo {
  background-color: #3f82;
  padding: 3rem;
  margin-bottom: 6rem;
  &-inputer {
    border: $black-border;
    height: 1.3rem;
    &-button {
      margin-left: 1rem;
      width: 3rem;
      height: 1.3rem;
      border: $black-border;
      &:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.todo-list {
  padding: 1rem;
  &-container {
    background-color: #3f85;
    padding: 1rem;
  }
  &-hide-button {
    background-color: #3f82;
    border: $black-border;
    border-radius: 1rem;
    width: 2.5rem;
    height: 1.2rem;

    float: right;
    &:hover {
      cursor: pointer;
      background-color: #3f89;
      color: #000
    }
  }
}

.task-list {
  margin: 0.5rem;
  &-button {
    background-color: #3f82;
    border: $black-border;
    width: 2.5rem;
    height: 1.1rem;
    border-radius: 1rem;
    opacity: 0.3;
    float: right;
    transition: opacity 0.3s;
    &:hover {
      cursor: pointer;
      transition: opacity 0.3s;
      opacity: 1;
    }
  }
}

.todo-app {
  font-size: 10rem;
  &-conatiner {
    width: 30rem;
    height: 100rem;
    margin: auto;
    margin-top: 5rem;
  }
}
